@{
    ViewBag.Title = "Index";
    Layout = "~/Views/main_layou_login.cshtml";
}

<table style="width:100%;text-align:center;">
    <tr>
        <td style="width:33%;">
            <a href="@Url.Action("Index","Video")"><img src="~/img/VideoConferencia.png" /></a>
            <br />
            <a href="@Url.Action("Index","Video")"><img src="~/img/Video.png" /></a>
        </td>
        <td style="width:33%;">
            <a href="@Url.Action("Index","Video")"><img src="~/img/ChatImg.png" /></a>
            <br />
            <a href="@Url.Action("Index","Video")"><img src="~/img/Chat.png" /></a>
        </td>
        <td style="width:33%;">
            <a href="@Url.Action("Index","Video")"><img src="~/img/TelefoneImg.png" /></a>
            <br />
            <a href="@Url.Action("Index","Video")"><img src="~/img/Telefone.png" /></a>
        </td>
    </tr>
    <tr>
        <td style="width:33%;padding-top:45px;">
            <a href="@Url.Action("Index","Video")"><img src="~/img/EmailImg.png" /></a>            
            <br />
            <a href="@Url.Action("Index","Video")"><img src="~/img/Email.png" /></a>
        </td>
    </tr>
</table>